html, body {
    height: 100vh;
}

.navbar {
    width: 100%
}

/** PAGE */
.main, .login-card {
    background-color: #fff;
    overflow: hidden;
}

.login-card {
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
}

.main {
    margin-top: 48px;
}

.container {
    padding: 0;
}

.card {
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 10px;
    background-color: #F8F9FA;
}

.header {
    font-family: georgia, serif;
    font-weight: bold;
    text-align: center;
    background: rgb(90 90 90);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    padding: 5px 0;
    color: #F8F9FA;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-header h1, .header h1 {
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.home-header p {
    font-style: italic;
}

.home-header {
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #F8F9FA;
}

h2, h3 {
    color: rgb(90 90 90);
}

/** CAROUSEL */
.item {
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 5px 5px #3232321a, 0 5px 8px #0000001a;
    transition: transform 0.3s;
    transform: translate3d(0, -1px, 0);
}

.item:hover {
    transform: translate3d(0, -10px, 0);
}

.item__body {
    padding: 25px;
}

.item__body p {
    margin-bottom: 0;
}

.item__title {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(90 90 90);
}

.item__description {
    color: #585858;
}

@media (min-width: 992px) {
    .main {
        margin: 48px auto 0;
    }
}

/* login */
.login-box {
    min-width: 360px;
    max-width: 400px;
    margin: 0 5px;
}

.login-link {
    color: #495057;
    text-decoration: none;
    font-weight: 500;
}

.login-card {
    padding: 15px;
}